* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  color: #111;
}

h1 {
  text-align: center;
  margin: 1rem;
}

.chart-container {
  padding-top: 35px;
  position: relative;
  width: 40vw;
  margin: 0 auto;
}

.poll {
  background-color: #fff;
  color: #333;
  width: 20vw;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.poll-body,
.poll-header {
  padding: 0.5rem;
}

.poll-header {
  text-align: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, #333, transparent) 1;
}

.poll-body ul {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.poll-body li label {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.poll-body li label:hover {
  background-color: #eee;
}

.poll-radio-input {
  margin-right: 0.5rem;
}

.poll-footer {
  padding-bottom: 0.5rem;
  text-align: center;
}

.poll-footer button {
  background-color: #777;
  color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  outline: none;
  width: 7rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.poll-footer button:hover {
  background-color: #333;
}

@media (max-width: 1200px) {
  .chart-container {
    width: 65vw;
  }

  .poll {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .chart-container {
    width: 75vw;
    height: 37.5vw;
  }
}

@media (max-width: 767px) {
  .chart-container {
    height: auto;
  }
}
